<template name="Home">
  <div class="page-header">
    <h2>Welcome to Chunky!</h2>
    <h2> <small>An app to help track and pace your workouts on a weekly basis.</small> </h2>
    <br>
  </div>
  <h3> Meanwhile at the home gym . . .  </h3>
  <div class="container">
    <div class="col-md-8 col-md-offset-1">
      <div class="jumbotron">
        <div class="media">
          <div class="media-body">
            <div class="chat bubble you pull-right">
              <span class="label label-default pull-right">Mr Lazy</span>
              <br> I need to work out for 453,000 minutes to get into shape.. ugh, where do I start!
            </div>
          </div>
          <div class="media-right">
            <a href="#">
              <img class="media-object" height="70" src="img/fatguy.png" alt="">
            </a>
          </div>
        </div>

        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" height="70" src="img/chunky.png" alt="">
            </a>
          </div>
          <div class="media-body">
            <div class="chat bubble me">
              <span class="label label-primary">Chunky</span>
              <br> Chunk your workout targets weekly...
              <br> ... and burn fat one <b>chunk</b> at a time!
              <br>
              <br> To start, log in, and then edit your profile and set your weekly quota (aka chunk) of minutes you want to work out!
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</template>
