<template name="WorkoutsList">
  <h1>Workouts List</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Workout Length (min)</th>
        <th>Rating</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {{#each workouts}}
      <tr>
        <td>{{minutes}}</td>
        <td>
          {{#if ratingLow}}
            <span class="label label-danger">{{rating}}</span>
          {{/if}}
          {{#if ratingMedium}}
            <span class="label label-warning">{{rating}}</span>
          {{/if}}
          {{#if ratingLow}}
            <span class="label label-success">{{rating}}</span>
          {{/if}}
        </td>
        <td>{{workoutDateFormatted}}</td>
        <!-- <td>
          {{#linkTo route=’editWorkout’}}
            <i class="fa fa-pencil-square-o"></i>
          {{/linkTo}}
        </td> -->
      </tr>
    {{/each}}
    </tbody>
  </table>
</template>
